[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Ss]ysinfo/
ServerData/
StreamingAssets/aa/
.vscode/
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.stackdump
*.swp
*~
.DS_Store
Thumbs.db
TestResults/
Coverage/
*.coverage
*.coveragexml
upm.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.apk
*.aab
*.unitypackage
.env
.env.*
